@using SellPainting.Models
@model TypesOfPainting
<html>
<head>
    <link href="~/css/create.css" rel="stylesheet" />
    <h1>Create type</h1>
</head>
<body>
    <form class="form" method="post" enctype="multipart/form-data">

        <div class="flex">
            <label asp-for="Name">
                <input class="input" type="text" placeholder="" required="">
                <span>Name</span>
            </label>
        </div>
        <label asp-for="Description">
            <textarea class="input01" placeholder="" rows="3" required=""></textarea>
            <span>Description</span>
        </label>

        <button href="#" class="fancy">
            <span class="top-key"></span>
            <span class="text">submit</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </button>
    </form>
</body>
</html>