@page
@using SellPainting.Models
@model RegisterModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link href="~/css/login&register.css" rel="stylesheet" />

<div class="wrapper">
  
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>Register</h1>
        <div class="input-box">
            <input asp-for="Input.FirstName" type="text" aria-required="true" placeholder="First name" />
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="input-box">
            <input asp-for="Input.FamilyName" type="text" aria-required="true" placeholder="Family name" />
            <span asp-validation-for="Input.FamilyName" class="text-danger"></span>
        </div>
        <div class="input-box">
            <input asp-for="Input.Address" type="text" aria-required="true" placeholder="Address" />
            <span asp-validation-for="Input.Address" class="text-danger"></span>
        </div>
        <div class="input-box">
                <input asp-for="Input.Email" type="text" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="input-box">
                <input asp-for="Input.Password" type="password" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="input-box">
                <input asp-for="Input.ConfirmPassword" type="password" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div>
            <label>You are: </label>
            @if (Model.AllRoles != null)
            {
               
                    @foreach (var role in Model.AllRoles)
                    {
                        @if (role!="Admin")
                    {
                        <input type="radio" value="@role" asp-for="Input.Role">@role
                    }
                    }
               
            }
            else
            {
                <p>No roles available</p>
            }
        </div>
            <button type="submit" class="btn">Register</button>

        <div class="register-link">
            <p>
                <a asp-page="./Login">You have an account</a>
            </p>
        </div>
        </form>
 </div>
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
